
<template name="Contact">
  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <form id="contact-form">
          <div class="form-group">
            <label class="control-label" for="contact-name">Name</label>
            <div class="input-group input-group-lg">
              <span class="input-group-addon"><span class="glyphicon glyphicon-user glyph-color"></span></span>
              <input name="contactName" type="text" class="form-control" placeholder="Your name">
            </div>          
            <span class="help-block">{{hasError 'contactName'}}</span>
          </div>
          <div class="form-group">
            <label class="control-label" for="contact-email">Your E-Mail</label>
            <div class="input-group input-group-lg">
              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope glyph-color"></span></span>
              <input name="contactEmail" type="text" class="form-control" placeholder="Your email">
            </div>        
            <span class="help-block">{{hasError 'contactEmail'}}</span>
          </div>   
          <div class="form-group">
            <label class="control-label" for="contact-message">Your Message</label>
            <div class="input-group input-group-lg">
              <span class="input-group-addon"><span class="glyphicon glyphicon-comment glyph-color"></span></span>
              <textarea name="contactMessage" class="form-control custom-control" placeholder="Your message"></textarea>
            </div>  
            <span class="help-block">{{hasError 'contactMessage'}}</span>
          </div>          
          <div>
            <button name="submit" type="submit" class="btn btn-block btn-primary btn-lg">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>

